<section class="mobil-menu">
  <!-- Для підключення JS додаємо в хедер data-menu-open на кнопку відкриття і  data-menu-close на кнопку закриття-->
  <!-- Додаємо is-hidden для JS -->
  <div class="mob-menu is-hidden" data-menu>
    <div class="mobil">
      <ul class="mob-menu-list list">
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#1">How It Works</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#2">Vegetables</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#3">Contacts</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="">
            <svg class="mobile-menu-basket" width="20" height="20">
              <use href="./img/svg/symbol-defs.svg#icon-shopping-cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
