.header {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #fff;
  z-index: 3;
}
.container {
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-header {
  display: flex;
}

.nav-header {
  display: flex;
  align-items: center;
  margin: 0;
}

.list-menu {
  display: none;
}

.header-logo {
  color: #141414;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.28;
  text-transform: uppercase;
}

.list-link {
  color: #141414;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

.veggie-button {
  fill: #77ac63;
  margin-right: 8px;
}

.veggie-logo {
  align-items: center;
  margin-left: 0 auto;
  display: flex;
}

.veggie-items {
  display: flex;
}

.header-mob-menu {
  display: none;
}

.basket-button {
  display: none;
}

.mob-button {
  background-color: #ffffff;
  border: transparent;
  padding: 0;
}

.header-mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 16px 20px 16px 20px;
}

.logotype {
  display: flex;
}

@media screen and (min-width: 375px) {
  .container {
    justify-content: right;
    width: 100%;
    margin: 0 auto;
  }

  .list-menu {
    display: none;
  }

  .basket {
    display: none;
  }

  .mob-button {
    background-color: #ffffff;
    border: transparent;
    padding: 0;
  }

  .basket-button {
    display: none;
  }

  .mob-menu-basket {
    display: none;
  }

  .header-header {
    display: flex;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  .header-container {
  }

  .header-header {
    display: flex;
    width: 100%;
  }

  .list-menu,
  .basket {
    display: flex;
    gap: 20px;
  }

  .header-mob-menu,
  .mob-button {
    display: none;
  }
  .list-menu {
  }

  .basket-button {
    display: flex;
    background-color: transparent;
    border: none;
  }

  .basket-button-but {
    fill: #fff;
    stroke: #141414;
  }

  .nav-header {
    display: flex;
    align-items: center;
    margin: 0;
    flex-grow: 1;
  }

  /* .logotype {
    display: flex;
  } */
}

@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .basket-button {
    display: flex;
    background-color: transparent;
    border: none;
  }

  .header-header {
    display: flex;
    width: 100%;
  }

  .basket-button-but {
    fill: #fff;
    stroke: #141414;
  }
}
